<h2>Grocery List</h2>

<div ng-controller="GroceryController" role="form" class="form-horizontal">
    <form>
        <input type="text" class="form-control" placeholder="Add a Grocery Item" ng-model="groceryItem" />
        <input type="submit" class="btn btn-primary" value="Add Item" ng-click="addGrocery()" />
        <div class="message">{{ msg }}</div>
    </form>

    <div id="parameterBox">
        <h4>Your route parameter word of the day is:</h4>
        <p id="parameterWord">{{ word }}</p>
    </div>

    <div class="listSection">
        <h3>Grocery Items ( {{ groceriesArray.length }} ):</h3>

        <ul ng-repeat="grocery in groceriesArray track by $index">

            <li><div><span>&rarr; &nbsp;&nbsp;{{ grocery }}</span><button type="button" class="close" aria-hidden="true" ng-click="removeGrocery($index)">&times;</button></div></li>
        </ul>
    </div>
</div>