.form {
    margin: 25px auto;
    float: none;
    padding: 30px 30px 20px 30px;
    background: #e5e5e5;
    border-radius: 5px;
}
.employee {
    border-radius: 5px;
    padding: 15px;
}
.employee .panel-heading {
    width: 100%;
    background: #1484e6;
    color: #fff;
}
.employee .panel-body {
    border: 1px solid #d1d1d1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
h1 {
    color: #1484e6;
}